{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<div class="relative w-100 mb4 bg-white nested-copy-line-height">
  <div class="bg-white mb3 pa4 gray overflow-hidden">
    {{ if $featured_image }}
      {{ if gt (.Summary | len) 1 }}
        <a href="{{.RelPermalink}}" class="db grow">
          <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
        </a>
      {{ else }}
        <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
      {{ end }}
    {{ else }}
      {{ if gt (.Summary | len) 1 }}
        <a href="{{.RelPermalink}}" class="db grow">
          <img src="/images/boek.jpg" class="img" alt="image from {{ .Title }}">
        </a>
      {{ else }}
        <img src="/images/boek.jpg" class="img" alt="image from {{ .Title }}">
      {{ end }}
    {{ end }}
    <!-- {{with .CurrentSection.Title }}<span class="f6 db">{{ . }}</span>{{end}} -->
    <h1 class="f3 near-black">
      {{ if gt (.Summary | len) 1 }}
        <a href="{{ .RelPermalink }}" class="link black dim" {{ if .Params.audiobook }}title="audioboek geluisterd"{{ end }}>
          {{ .Title }} {{ if .Params.audiobook }}🎧{{ end }}
        </a>
      {{ else }}
        {{ .Title }} {{ if .Params.audiobook }}🎧{{ end }}
      {{ end }}
    </h1>
    {{ if .Date }}
      <div class="f6">
        {{ .Date | time.Format (default "2024" "2006") }}
      </div>
    {{ end }}
    {{ if gt (.Summary | len) 1 }}
      <div class="nested-links f5 lh-copy nested-copy-line-height">
        {{ .Summary }}
      </div>
      <a href="{{.RelPermalink}}" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">Lees mijn recensie</a>
    {{ else }}
      <!-- no summary, so no read more button -->
    {{ end }}
    
  </div>
</div>
