{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article class="bb b--black-10">
  <div class="db pv4 ph3 no-underline dark-gray">
    <div class="flex flex-column flex-row-ns">
        <div class="mb4 mb0-ns h-100 h-40-ns">
          <a href="{{.RelPermalink}}" class="db grow">
            <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
          </a>
          {{ if .Date }}
            <div class="f6">
              {{- .Date | time.Format (default "Januari 2, 2006" .Site.Params.date_format) -}}
            </div>
          {{ end }}
          {{ partial "progress.html" . }}
          {{ if gt (.Summary | len) 1 }}
            <div class="nested-links f5 lh-copy nested-copy-line-height">
              {{ .Summary }}
            </div>
            <a href="{{.RelPermalink}}" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">{{ $.Param "read_more_copy" | default (i18n "readMore") }}</a>
          {{ else }}
            <!-- no summary, so no read more button -->
          {{ end }}
        </div>
    </div>
  </div>
</article>
