{{- $af := .Params.af -}}
{{- $total := 96 -}}
{{ if $af }}
    {{ $perc := div 100 (div $total $af) }}
    <div class="progress-bar" , style="width: 100%; background-color: #bebebe; height: 25px; padding: 5px; margin: 50px 0; border-radius: 5px; box-shadow: 0 1px 5px #000 inset, 0 1px 0 #ffffff;">
        <span id="progress" style="width: {{$perc}}%;display: inline-block; height: 100%; border-radius: 3px; box-shadow: 0 1px 0 rgba(0, 100, 0, .5) inset; transition: width .4s ease-in-out;background-image: url('/images/nachtwacht.jpg');background-position-x: center;background-position-y: 320px;"></span>
    </div>
{{ else }}
{{ end }}